.app-container{
    display: flex;
   
}
.content{
width: 100%;
height: 1000vh;
}

.sidebar{
    min-height: 900px;

}

.post-card{
    margin: 20px 50px;

}

.hashtag{
    margin: 0px 3px;
}
.reactions{
    width: 50px;
   

}
.box{
    display: flex;
    justify-content: space-between;
}